{% extends 'signup-login-layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}



<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<form action="/become_volunteer" method="POST" enctype="multipart/form-data">

    <div class="ovf">
      <div class="wrapper">
        {% include 'includes/_messages.html' %}
        <div class="title">
          Volunteer Registration Form
        </div>
          <div class="form">
    
            <div class="inputfield">
              <label>Email Address </label>
              <input type="email" class="input" name="email" maxlength="60" required>
            </div> 
    
            <div class="inputfield">
              <label>City </label>
              <input type="text" class="input" name="city" maxlength="60" required placeholder="ex-Jaunpur">
            </div> 

            <div class="inputfield">
              <label>Pin-Code </label>
              <input type="text" class="input" name="pin" maxlength="20" required placeholder="ex-230001">
            </div>
    
            <div class="inputfield">
              <label>Profession </label>
              <input type="text" class="input" name="Profession" maxlength="80" required>
            </div> 
         
           <select class="custom-select" name="BloodGroup"  required>
            <option value="" >Select Blood Group</option>
            <option  value="A+">A+</option>
            <option  value="A-">A-</option>
            <option  value="B+">B+</option>
            <option  value="B-">B-</option>
            <option  value="O+">O+</option>
            <option  value="O-">O-</option>
            <option  value="AB+">AB+</option>
            <option  value="AB-">AB-</option>
          </select>

          <hr>

          <select class="custom-select" name="Gender" required>
            <option value="">Select Gender</option>
            <option  value="Male">Male</option>
            <option  value="Female">Female</option>
            <option  value="Other">Other</option>
          </select>
          <hr>
            
            
           <p> How can you help ? <br><small > Note : You can choose even more than one services</small></p>
     
            <div class="list-group  " >
              <label class="list-group-item "><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Only Member" checked>
                Only Member</div>
              </label>
              <label class="list-group-item" ><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Hospital Admission (Normal/O2/ICU)">
                Hospital Admission (Normal/O2/ICU)</div>
              </label>
              <label class="list-group-item" ><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Blood /Platelets">
                Blood /Platelets</div>
              </label>
              <label class="list-group-item" ><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Oxygen Cylinder,Regu8lator,Refilling">
                Oxygen Cylinder, Regulator, Refilling</div>
              </label>
              <label class="list-group-item" ><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Medicine/Injection">
                Medicine/Injection</div>
              </label>
              <label class="list-group-item"><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Financial Help">
                Financial Help</div>
              </label>
              <label class="list-group-item"><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Ambulence /Funeral Vehicle">
                Ambulence /Funeral Vehicle</div>
              </label>
              <label class="list-group-item"><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="Physical labour">
                Physical labour</div>
              </label>
              <label class="list-group-item"><div style="padding-left:10px;">
                <input class="form-check-input me-1" type="checkbox" name="helpway" value="All of the above">
                All of the above</div>
              </label>
            </div> 
            <div class="inputfield">
              <input id="submit_btn" type="submit" value="Register" class="btn">
            </div>
          </div>
      </div>
    </div>

  </form>


{% endblock %}