<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title> Developers</title>
  </head>
  <body> 
    <div class="container develops">
        <div class="row "style="justify-content: center;">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="{{url_for('static', filename='/images/sj.jpeg')}}">
              </div>
              <div class="team-content">
                <h3 class="name">Swaraj Jain</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="{{url_for('static', filename='/images/hm.jpeg')}}">
              </div>
              <div class="team-content">
                <h3 class="name">Harsh Mishra</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="{{url_for('static', filename='/images/diwr.jpeg')}}">
              </div>
              <div class="team-content">
                <h3 class="name">Diwakar Raj</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="{{url_for('static', filename='/images/ds.jpeg')}}">
              </div>
              <div class="team-content">
                <h3 class="name">Divyanshu Singh</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
              </ul>
            </div>
          </div>         
       
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="{{url_for('static', filename='/images/hl.jpeg')}}">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Harshal Lanke</h3>
                    <h4 class="title">Graphic Designer</h4>
                  </div>
                  <ul class="social">
                 <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                  </ul>
                </div>
              </div> 
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="our-team">
                <div class="picture">
                  <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
                </div>
                <div class="team-content">
                  <h3 class="name">Bharti Singh</h3>
                  <h4 class="title">Content Writer</h4>
                </div>
                <ul class="social">
                 <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                  <div class="picture">
                    <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
                  </div>
                  <div class="team-content">
                    <h3 class="name">Ramendra Singh</h3>
                    <h4 class="title">Web Manager</h4>
                  </div>
                  <ul class="social">
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook" aria-hidden="true"></a></li>
                <li><a href="https://twitter.com/" class="fa fa-twitter" aria-hidden="true"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin" aria-hidden="true"></a></li>
                  </ul>
                </div>
              </div> 
          </div>
      </div>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>